.app__levels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  min-height: 100vh;
  position: relative;

  &-title {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;

    span {
      position: relative;
      z-index: 3;
    }

    .div-title {
      z-index: 40;
      width: 100%;
      height: 10px;
      background-color: var(--gray-color);
      position: absolute;
      right: 0;
      bottom: 12%;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    z-index: 5;
  }

  &-buttons {
    width: 100%;
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
    z-index: 3;
    gap: 1.5rem;
  }
}

.blob1 {
  position: absolute;
  width: 47.5%;
  left: -15%;
  mix-blend-mode: soft-light;
}

.blob2 {
  position: absolute;
  width: 30%;
  top: -10%;
  right: -15%;
  mix-blend-mode: soft-light;
  transform: rotate(45deg);
}

.div {
  &-level {
    width: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .button-level {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .app__levels {
    padding: 2.5rem;
  }
}
