.app__contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  .title-text {
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    max-width: 80%;
  }

  &-cards {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 2.5rem 0 1rem 0;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-card {
    color: white;
    font-weight: 300;
    width: 340px;
    font-size: 1rem;
    border: 2px solid #0075f6;
    border-radius: 20px;
    padding: 0.65rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;

    &-img {
      width: 35px;
    }

    @media screen and (max-width: 450px) {
      font-size: 3.2vw;
      width: 80vw;
    }
  }

  // Form

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    // background-color: #0075f6;
    color: white;
    width: 60%;
    font-weight: 300;
    padding: 1rem;

    &-up {
      display: flex;
      justify-content: center;
      gap: 3rem;
      width: 100%;

      &-card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-text {
          margin-left: 6px;
        }

        &-input {
          border: none;
          border-radius: 10px;
          height: 2.5rem;
          padding: 0 1rem;
          background-color: #082a42;
          color: white;
          // font properties
          font-size: 1rem;
          font-weight: 200;
          font-family: "Outfit", sans-serif;
        }
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    &-message {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      &-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 0.3rem;

        &-text {
          margin-left: 6px;
        }

        &-input {
          border: none;
          padding: 1rem;
          border-radius: 10px;
          height: 10rem;
          background-color: #082a42;
          color: white;
          // font properties
          font-size: 1rem;
          font-weight: 200;
          font-family: "Outfit", sans-serif;
          // resterictions
          max-width: 100%;
          min-width: 100%;
          max-height: 12rem;
        }
      }

      @media screen and (max-width: 900px) {
        width: 90%;
      }
    }

    &-button {
      background-color: #85a3bf;
      color: black;
      border-radius: 15px;
      font-weight: 400;
      font-size: 1rem;
      padding: 0.8rem 2rem;
    }

    @media screen and (max-width: 460px) {
      width: 110%;
    }
  }
}

.ellipse {
  z-index: -1;
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 75vw;
  top: -10vw;

  background: rgba(0, 70, 246, 0.634);
  filter: blur(300px);
}

.ellipse-2 {
  z-index: -1;
  position: absolute;
  width: 65vw;
  height: 65vw;
  left: -25vw;
  top: -25vw;

  background: #11054196;
  filter: blur(200px);
}
