.app__about {
  // display: flex;
  // // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // gap: 5rem;
  // width: 80%;
  // min-height: 100vh;

  &-content {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 5rem;

    &-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      max-width: 40%;
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: fit-content;
      position: relative;

      h3 {
        font-size: 2.2rem;
        text-align: center;
        font-weight: 800;
        z-index: 3;
      }
    }

    &-text {
      font-size: 1.1rem;
      line-height: 1.75rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      line-height: 1.5rem;
      gap: 1rem;
    }
  }
}

.ellipse {
  z-index: -1;
  position: absolute;
  width: 50vw;
  height: 50vw;
  left: 75vw;
  top: -8vw;

  background: rgba(0, 70, 246, 0.272);
  filter: blur(300px);
}

.ellipse-2 {
  z-index: -1;
  position: absolute;
  width: 50vw;
  height: 50vw;
  left: -25vw;
  top: -25vw;

  background: #110541;
  filter: blur(200px);
}

.v-line {
  border: 0;
  background-color: var(--secondary-color);
  width: 2px;
  height: 110%;
  border: round;
}

.div-title {
  z-index: 1;
  position: absolute;
  bottom: 5px;
  height: 10px;
  width: 100%;
  background-color: var(--secondary-color);
}

.compil {
  float: left;
  margin-right: 1rem;
  width: 8rem;
}

// media Queries

@media screen and (max-width: 720px) {
  .app__about {
    &-content {
      flex-direction: column;
      &-side {
        max-width: 80%;
      }
    }
  }
}
