.app__intro{
    height: calc(100vh - 72px);
    font-family: var(--font-base);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;

    .line{
        background-color: rgb(56, 168, 202);
        height: 300px;
        width: 3px;
        border-radius: 10px;
        border-top: 2px solid rgb(56, 168, 202);
        border-bottom: 2px solid rgb(56, 168, 202);
    }

    .content{
        padding: 50px;
        border-radius: 50px 10px;

        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 2rem;
        background-color: var(--gray-color);

        &__card{
            display: flex;
            flex-direction: row;
            gap: 50px;

            &-title{
                font-weight: 700;
                font-size: 1rem;
            }
            &-description{
                font-weight: 600;
                font-size: 0.8rem;
                color: rgb(41, 92, 110);
            }
        }
    }

    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        &__cards{
            display: flex;
            flex-direction: column;
            gap: 55px;
        }

        &__card{
            line-height: 30px;
            &-title{
                font-size: 35px;
            }
            &-description{
                color: rgb(41, 92, 110);
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}