.app__levels {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-size: 2.8vw;
    font-weight: 500;
    color: white;
    position: relative;

    .div-title {
      z-index: -1;
      width: 29%;
      height: 10px;
      background-color: var(--gray-color);
      position: absolute;
      right: 8%;
      bottom: 12%;
    }
  }

  &-buttons {
    margin: 3rem 0;
    display: flex;
    gap: 3rem;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    width: 70vw;
  }

  &-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 20px;
    transition: all 0.6s;
    cursor: pointer;

    background-color: #05375ba4;
    color: white;

    &-img {
      width: 100%;
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      &-name {
        max-width: fit-content;
        font-size: 1.45vw;
        font-weight: 400;
      }
      &-prof {
        font-size: 1vw;
        font-weight: 200;
      }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 20px 5px rgba(67, 112, 150, 0.55);
    }
  }
}

.level-ellipse {
  z-index: 10;
  position: absolute;
  width: 40px;
  height: 40px;

  background: #168fe7;
  filter: blur(37.5px);
}

.div {
  &-level {
    width: 25%;
  }
}
