.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background-color: var(--primary-color);
  color: black;
}

.dark {
  background-color: var(--dark-color);
  color: white;
}
