@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body{
  
}

:root{
  --primary-color: #0375f4;

  --white-color: white;

  // $secondary-color: 

  // $third-color:

  --gray-color:  #c1f0f0;

  //fonts:

  --font-base: 'Poppins', sans-serif;
}
