@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

:root {
	--font-base: 'Outfit', sans-serif;

	--dark-color: #021225;

	--primary-color: #a5c9ca;

	--secondary-color: #0075F6;

	--lightGray-color: #d0c9c0;

	--gray-color: #262e4d;

	--brown-color: #363242;

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
